{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project : {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date de début du projet</th>
                <td>{{ entity.datedebutproject|date("m/d/Y") }}</td>
            </tr>
            <tr>
                <th>Date de fin du projet</th>
                <td>{{ entity.datefinproject|date("m/d/Y") }}</td>
            </tr>
            <php if(!empty($datefinProject)){?>
            <tr>
                <th>Date de fin des taches</th>
                <td>{{ dateFin|date("m/d/Y") }}</td>
            </tr>
            <?php
            }?>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>


    <h2>Taches : </h2>
<table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.id }}</a></td>
                <td>{{ tache.name }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.datedebut|date("m/d/Y") }}</td>
                <td>{{ tache.datefin|date("m/d/Y") }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tache_show', { 'id': tache.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tache_edit', { 'id': tache.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tache_new',  {'id': entity.id }) }}" role="button" class="btn btn-default" type="btn" id="add_tache" name="add_tache" value=""> Ajouter une tâche au projet </a>

{% endblock %}
